body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
    
.qrcode {
    width: 200px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    padding: 13px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.qr-image {
    width: 100%;
    border-radius: 10px;
}


h2 {
    font-size: 1rem;
    color: hsl(218, 44%, 22%);
    text-align: center;
}

p {
    font-size: .75rem;
    color: hsl(220, 15%, 55%);
    text-align: center;
    max-width: 300px;
}

.logo {
    width: 20px;
    margin-right: 5px;
}

